<% provide(:title, @user.name) %>

<h1>Edit profile</h1>

<h2><%= @user.name %>'s profile info</h2>

<div class="gravatar">
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails" target="_blank">Change your Gravatar</a>
</div>

<div class="form">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-7 col-md-7">
        <%= form_for(@user) do |f| %>

          <%= render 'shared/error_messages' %>

          <%= f.label :name %>
          <%= f.text_field :name %>

          <%= f.label :email %>
          <%= f.text_field :email %>

          <%= f.label :password %>
          <%= f.password_field :password %>

          <%= f.label :password_confirmation, "Confirm Password" %>
          <%= f.password_field :password_confirmation %>
          <div id="button">
            <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
          </div>

          <% end %>
      </div>
    </div>
  </div>
</div>