<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-xs-6 col-md-3">
    <section>
      <h1>
        <%= gravatar_for @user, "" %>
        <%= @user.name %><br />
        <small>class of:  </small><%= @user.year %><br />
      </h1>
        <%= link_to "Edit profile", edit_user_path %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'follow_form' if signed_in? %>
    </section>
    
      <strong>About me: </strong>

      <div class="profile-info">
        <%= markdown(@user.profile_info) %>
      </div>
  </aside>

  <div class="col-xs-12 col-md-9">
    <section>
      <% if @user.microposts.any? %>
        <h3>Posts (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
      <% end %>
    </section>
  </div>
</div>


